# Ignore compiled files
Bubbles\Bubbles\bin\
Bubbles\Bubbles\obj\

# Ignore graphics work files
Bubbles\BubblesContent\Textures\Old Images
Bubbles\BubblesContent\Textures\Raw Images

# Ignore Visual Studio session files
*.suo
